[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
requests = "*"
bs4 = "*"
constants = "*"
unidecode = "*"
scrapy = "*"
pinecone-client = "*"
streamlit-chat = "*"
python-dotenv = "*"
openai = "*"
setuptools-rust = "*"
rust = "*"
build = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.9"
