streamlit==1.24.0
python_version=="3.9"
langchain *
requests *
bs4 *
constants *
unidecode *
scrapy *
pinecone-client *
streamlit-chat *
python-dotenv *
openai *
setuptools-rust *
rust *
build *
tiktoken *
sessionstate *
